.about-section {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.about-inner {
    align-items: center;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.about-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.about-header {
    font-family: var(--font-family-default);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    padding: var(--spacing-heading-vertical) 0;
}

.about-quote {
    align-items: center;
    border-left: var(--border-quote);
    color: var(--color-text-quote);
    display: flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-quote);
    font-style: italic;
    font-weight: var(--font-weight-quote);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-quote);
}

.about-paragraph {
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-paragraph-vertical) 0;
}

.about-illustration {
    align-items: center;
    display: flex;
    justify-content: center;
    filter: brightness(75%);
    z-index: 1;
}

@media (max-width: 1000px) {
    .about-inner {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .about-illustration img {
        height: 240px;
        width: 240px;
    }
}

@media (max-width: 300px) {
    .about-illustration img {
        height: 160px;
        width: 160px;
    }
}
