.about-section {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.about-inner {
    align-items: center;
    display: flex;
    gap: 5rem;
    width: 100%;
}

.about-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.about-header {
    color: var(--color-text-heading);
    font-family: var(--font-family-default);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    padding: var(--spacing-heading-vertical) 0;
}

.about-quote {
    align-items: center;
    border-left: var(--border-quote);
    color: var(--color-text-quote);
    display: flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-quote);
    font-style: italic;
    font-weight: var(--font-weight-quote);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-quote);
}

.about-paragraph {
    color: var(--color-text-body);
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-paragraph-vertical) 0;
}

.about-illustration {
    align-items: center;
    border: var(--border-ui);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

@media (max-width: 1000px) {
    .about-inner {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .about-illustration {
        display: flex;
        flex: 1;
    }

    .about-illustration svg {
        height: auto;
        display: block;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .about-header {
        font-size: var(--font-size-heading-mobile);
    }

    .about-illustration img {
        height: 240px;
        width: 240px;
    }
}

@media (max-width: 300px) {
    .about-illustration img {
        height: 160px;
        width: 160px;
    }
}