.hero-section {
    align-items: center;
    background: var(--color-surface-1);
    display: flex;
    height: calc(100svh - var(--height-navbar));
    justify-content: center;
    min-height: 25rem;
    padding: var(--spacing-layout);
}

.hero-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    border-bottom: var(--border-decorative);
    color: var(--color-text-title);
    font-family: var(--font-family-default);
    font-size: clamp(1.75rem, 10vw, var(--font-size-title));
    font-weight: var(--font-weight-title);
    margin: 0;
}

.hero-subtitle {
    color: var(--color-text-subtitle);
    font-family: var(--font-family-default);
    font-size: clamp(1rem, 5vw, var(--font-size-subtitle));
    font-style: italic;
    font-weight: var(--font-weight-subtitle);
    padding: 1rem 0;
}
