.skills-section {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.skills-header {
    font-family: var(--font-family-default);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    padding: var(--spacing-heading-vertical) 0;
}

.skill-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
