.footer {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.footer-navigation {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
}

.footer-section {
    width: 100%;
}

.footer-section-title {
    border-bottom: var(--border-ui);
    color: var(--color-text-section-title);
    display: flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-section-title);
    font-weight: var(--font-weight-section-title);
    line-height: var(--line-height-default);
    padding: var(--spacing-section-title-vertical) 0;
    width: 100%;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 1rem 0 0 0;
}

.footer-list-item {
    padding: 1rem 0;
}

.footer-link {
    color: var(--color-text-link-default);
    font-family: var(--font-size-default);
    font-size: var(--font-size-link);
    font-weight: var(--font-weight-link);
    text-decoration: none;
    transition: var( --transition-color);
}

.footer-link:hover {
    color: var(--color-text-link-hover);
}

.footer-link:active {
    color: var(--color-text-link-active);
}

.footer-copyright {
    padding: 2rem 0;
}

.footer-copyright-text {
    color: var(--color-text-body);
    font-family: var(--font-family-default);
    font-size: var(--font-size-ui);
    font-weight: var(--font-weight-ui);
    line-height: var(--line-height-default);
}

@media (max-width: 600px) {
    .footer-navigation {
        grid-template-columns: 1fr;
    }
}
