.navbar {
    background: var(--color-surface-0);
    border-bottom: var(--border-ui);
    height: var(--height-navbar);
    padding: 0 var(--spacing-layout);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 900;
}

.navbar-inner {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar-logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    transition: var(--transition-opacity);
}

.navbar-logo:hover {
    opacity: 0.75;
}

.navbar-logo:active {
    opacity: 0.5;
}

.navbar-logo-text {
    color: var(--color-text-logo);
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-logo);
    padding: 1rem;
}

.navbar-actions {
    display: flex;
    align-items: stretch;
}

.navbar-navigation {
    display: flex;
}

.navbar-navigation-list {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-navigation-list li {
    display: flex;
    height: 100%;
}

.navbar-navigation-link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transition: var(--transition-background);
}

.navbar-navigation-link a {
    align-items: center;
    color: var(--color-text-ui);
    display: flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-ui);
    font-weight: var(--font-weight-ui);
    height: 100%;
    justify-content: center;
    padding: 2rem;
    text-decoration: none;
    width: 100%;
}

.navbar-navigation-link.current {
    background: var(--color-background-navigation-current);
}

.navbar-navigation-link:hover {
    background: var(--color-background-navigation-hover);
}

.navbar-navigation-link:active {
    background: var(--color-background-navigation-active);
}

.navbar-hamburger-button {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: center;
    width: var(--width-navbar-item-mobile);
}

/*
.navbar-language {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    width: var(--width-navbar-item-default);
}
*/

@media (max-width: 800px) {
    .navbar-logo-text {
        display: none;
    }
    
    .navbar-navigation-list {
        display: none;
    }

    .navbar-hamburger-button {
        display: flex;
    }
}

@media (max-width: 400px) {
    .navbar-hamburger-button,
    .navbar-language {
        width: var(--width-navbar-item-mobile);
    }
}

@media (max-width: 360px) {
    .navbar-logo-text {
        font-size: 1rem;
    }
}
