.qualification-process-intro-section {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.qualification-process-intro-header {
    font-family: var(--font-family-default);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    padding: var(--spacing-heading-vertical) 0;
}
