.qualification-process-intro-section {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.qualification-process-intro-header {
    border-bottom: var(--border-decorative);
    color: var(--color-text-heading);
    display: inline-flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);    
    margin: var(--spacing-heading-vertical) 0;
    padding: 0;
}

@media (max-width: 400px) {
    .qualification-process-intro-header {
        font-size: var(--font-size-heading-mobile);
    }
}
