.qualification-process-evidence-section {
    background: var(--color-surface-0);
    border-top: var(--border-ui);
    padding: var(--spacing-layout);
}

.qualification-process-evidence-header {
    color: var(--color-text-subheading);
    font-family: var(--font-family-default);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    padding: var(--spacing-heading-vertical) 0;
    margin: 0;
}

.qualification-process-evidence-empty {
    color: var(--color-body);
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-paragraph-vertical) 0;
}

.qualifications-process-evidence-list {
    display: grid;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 400px) {
    .qualification-process-evidence-header {
        font-size: var(--font-size-subheading-mobile)
    }
}
