.qualification-task-section-title {
    border-bottom: var(--border-ui);
    color: var(--color-text-section-title);
    display: flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-section-title);
    font-weight: var(--font-weight-section-title);
    line-height: var(--line-height-default);
    padding: var(--spacing-section-title-vertical) 0;
    width: 100%;
}

.qualification-task-list {
    display: grid;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 1rem 0 0 0;
}
