.qualifications-intro-section {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.qualifcations-intro-header {
    font-family: var(--font-family-default);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    padding: var(--spacing-heading-vertical) 0;
}

qualifcations-intro-paragraph {
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-paragraph-vertical) 0;
}
