.qualifications-intro-section {
    background: var(--color-surface-0);
    padding: var(--spacing-layout);
}

.qualifcations-intro-header {
    font-family: var(--font-family-default);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
}

qualifcations-intro-paragraph {
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-paragraph-vertical) 0;
}

@media (max-width: 700px) {
    .qualifcations-intro-header {
        font-size: 1.25rem;
    }
}
