@import 'devicon/devicon.min.css';

:root {
    --color-surface-0: #FFFFFF;
    --color-surface-1: #F9F9F9;

    --color-background-control-default: #EBEBEB;
    --color-background-control-hover: #E0E0E0;
    --color-background-control-active: #D6D6D6;

    --color-background-navigation-current: #EBEBEB;
    --color-background-navigation-hover: #E0E0E0;
    --color-background-navigation-active: #D6D6D6;

    --color-border-quote: #CFCFCF;
    --color-border-ui: #EFEFEF;

    --color-icon-decorative: #0E4893;
    --color-icon-control: #3E4246;

    --color-text-0: #000000;
    --color-text-1: #3E4246;
    --color-text-2: #0E4893;
    --color-text-3: #34435D;

    --color-text-logo: var(--color-text-0);
    --color-text-title: var(--color-text-0);
    --color-text-subtitle: var(--color-text-1);
    --color-text-heading: var(--color-text-0);
    --color-text-subheading: var(--color-text-0);
    --color-text-quote: var(--color-text-1);
    --color-text-section-title: var(--color-text-0);
    --color-text-body: var(--color-text-0);
    --color-text-ui: var(--color-text-1);
    --color-text-link-default: var(--color-text-1);
    --color-text-link-hover: var(--color-text-2);
    --color-text-link-active: var(--color-text-3);

    --border-quote: 1px solid var(--color-border-quote);
    --border-ui: 1px solid var(--color-border-ui);

    --border-radius-default: 5px;

    --font-family-logo: 'Inter', sans-serif;
    --font-family-default: 'Inter', sans-serif;

    --font-size-logo: 1.25rem;
    --font-size-title: 5rem;
    --font-size-subtitle: 2rem;
    --font-size-heading: 2rem;
    --font-size-subheading: 1.5rem;
    --font-size-section-title: 1.25rem;
    --font-size-body: 1rem;
    --font-size-quote: 1rem;
    --font-size-ui: 1rem;
    --font-size-link: 1rem;

    --font-weight-logo: 500;
    --font-weight-title: 500;
    --font-weight-heading: 500;
    --font-weight-subheading: 500;
    --font-weight-section-title: 500;
    --font-weight-body: 400;
    --font-weight-quote: 400;
    --font-weight-ui: 400;
    --font-weight-link: 400;

    --line-height-default: 2;

    --height-navbar: 5rem;
    --height-drawer-navigation-item: 5rem;
    --width-navbar-item-default: 8rem;
    --width-navbar-item-mobile: 5rem;

    /*
    --spacing-control-vertical: 0.5rem;
    --spacing-control-horizontal: 0.75rem;
    */
    --spacing-layout-horizontal: 1rem;
    --spacing-heading-vertical: 2rem;
    --spacing-section-title-vertical: 1rem;
    --spacing-paragraph-vertical: 2rem;
    --spacing-quote: 2rem;
    --spacing-control: 1rem;

    --transition-duration: 0.25s;

    --transition-background: background-color var(--transition-duration) ease-in-out;
    --transition-color: color var(--transition-duration) ease-in-out;
    --transition-opacity: opacity var(--transition-duration) ease-in-out;
    --transition-transform: transform var(--transition-duration) ease-in-out;
}

::-moz-selection {
  color: #FFFFFF;
  background: #0E4893;
}

::selection {
  color: #FFFFFF;
  background: #0E4893;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-surface-0);
    color: var(--color-text-body);
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-text-link-default);
    font-family: var(--font-family-default);
    font-size: var(--font-size-link);
    font-weight: var(--font-size-link);
    text-decoration: underline;
}

blockquote {
    align-items: center;
    border-left: var(--border-quote);
    color: var(--color-text-quote);
    display: flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-quote);
    font-style: italic;
    font-weight: var(--font-weight-quote);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-quote);
}

button {
    background: none;
    font-family: var(--font-family-default);
    font-size: var(--font-size-0);
}

h1 {
    font-family: var(--font-family-default);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
}

h2,
h3 {
    font-family: var(--font-family-default);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-subheading);
}

p {
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-default);
    margin: 0;
    padding: var(--spacing-paragraph-vertical) 0;
}

.lucide {
    color: var(--color-icon-control);
}
