.project-item {
    background: var(--color-surface-0);
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    overflow: hidden;
    padding-bottom: 2.5rem;
    row-gap: 1rem;
}

.project-item:not(:first-child) {
    border-top: var(--border-ui);
    padding-top: 2.5rem;
}

.project-item:last-child {
    padding-bottom: 0;
}

.project-number {
    align-items: start;
    color: var(--color-text-subheading);
    font-family: var(--font-family-default);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    grid-column: 1;
    grid-row: 2;
}

.project-content {
    display: contents;
}

.project-content > * {
    grid-column: 2;
}

.project-category {
    align-items: center;
    background: #0E4893;
    border-radius: 80px;
    color: #FFFFFF;
    display: flex;
    font-family: var(--font-family-default);
    font-size: 0.75rem;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 15%;
    padding: 0.125rem 1rem;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
}

.project-title {
    color: var(--color-text-subheading);
    font-family: var(--font-family-default);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    line-height: var(--line-height-default);
    width: 100%;
    word-break: break-word;
}

.project-year {
    color: var(--color-text-0);
    font-family: var(--font-family-default);
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 15%;
}

.project-technologies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.project-link {
    align-items: center;
    color: var(--color-text-link-default);
    display: inline-flex;
    font-family: var(--font-family-default);
    font-size: var(--font-size-link);
    font-weight: var(--font-size-link);
    gap: 0.5rem;
    overflow-wrap: break-word;
    text-decoration: none;
    transition: var(--transition-color);
    width: max-content;
}

.project-link:hover {
    color: var(--color-text-link-hover);
}

.project-link:active {
    color: var(--color-text-link-active);
}

.project-link-icon {
    color: inherit;
    transition: var(--transition-color);
}

.project-description {
    margin: 0;
    padding: 0;
}

@media (max-width: 400px) {
    .project-title {
        font-size: var(--font-size-subheading-mobile);
    }

    .project-number {
        font-size: var(--font-size-subheading-mobile);
    }
}
