.qualification-evidence-item {
    background: var(--color-surface-0);
    border: var(--border-ui);
    border-radius: var(--border-radius-default);
    overflow: hidden;
    transition: var(--transition-background);
}

.qualification-evidence-item:hover {
    background: var(--color-background-navigation-hover);
}

.qualification-evidence-item:active {
    background: var(--color-background-navigation-active);
}

.qualification-evidence-item a {
    color: var(--color-text-body);
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.qualification-evidence-content {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.qualification-evidence-item-icon {
    color: var(--color-icon-body);
}

.qualification-evidence-title {
    color: var(--color-text-body);
    font-family: var(--font-family-default);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
}
